<kendo-grid-column
  #diCustomGridColumn
  [field]="field"
  [title]="title"
  [width]="width"
  [filter]="filter"
  [format]="format"
  >
  
  <!-- <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
    <kendo-grid-string-filter-menu
      [column]="column"
      [filter]="filter"
      [filterService]="filterService">
        <kendo-filter-contains-operator></kendo-filter-contains-operator>
        <kendo-filter-eq-operator></kendo-filter-eq-operator>
    </kendo-grid-string-filter-menu>
  </ng-template>
  <ng-content></ng-content> -->
</kendo-grid-column>